<footer>
    <div class="div-first-column">
        <ul>
            <li>
                <a href="#">Donation</a>
            </li>

            <li>
                <a href="#">What am I using?</a>
            </li>

            <li>
                <a href="#"></a>
            </li>

            <li>
                <a href="#"></a>
            </li>
        </ul>
    </div>

    <div class="nav-second-column">
        <ul>
            <li>
                <a href=""></a>
            </li>

            <li>
                <a href=""></a>
            </li>

            <li>
                <a href=""></a>
            </li>

            <li>
                <a href=""></a>
            </li>
        </ul>
    </div>

    <div class="newsletter">
        <span>Newsletter</span>
        <input type="text" placeholder="Your email">
        <button>Subscribe</button>
    </div>

    <div></div>
</footer>