<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="about">About Me</a>
        </li>

        <li>
            <a href="contact">Contact</a>
        </li>

        <li>
            <a href="resources">Resources</a>
        </li>
    </ul>
</nav>